<h1 hidden>users/index</h1>

<main class='container d-flex flex-column justify-content-center align-items-center mt-4'>
    <% @users.each do |user| %>
        <%= render "shared/user_card", user: user %>
    <% end %>
</main>