<nav class="navbar navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <img src="<%= asset_path("blog-logo.png") %>" width="50" height="50" alt="blog app logo">
  <% end %>
</nav>